.grid {
  display: flex;
  justify-content: center;
  margin: 0 -20px;
  flex-wrap: wrap;
}

.grid > .grid-item {
  width: 100%;
  padding: 0 20px;
}

/* .grid-3 > .grid-item {
  padding: 0px 10px;
  margin-bottom: 10px;
  width: 25%;
} */

@media (min-width: 960px) {
  .grid > .grid-item {
    width: 33.33%;
    padding: 0 20px;
  }
}
