.text-white {
    color:white;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.5;
}
.text {
    color: #909090;
    font-size: 19px;
}


@media (min-width: 960px) {

    .text {
        font-size: 14px;
    }
    
}